{% block fixedTop %}
    <div class="ftco-blocks-cover-1">


        <div class="ftco-cover-1" style="background-image: url('{{ asset('images/hero_1.jpg') }}')">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="box-92819">


                            <h1 class="text-uppercase text-black mb-3"> About Us </h1>
                            <p class="mb-0 text-black">Discover the new era of our Smarty wonderland <i
                                        class="icon-heart text-danger" aria-hidden="true"></i></p>
                            <!-- <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-2 rounded-0">Contact Us</a></p> -->
                        </div>

                        <!-- <h1>About <span class="text-primary">Marga.</span>  </h1>
                        <p class="mb-5">A fresh free template from the fine folks at <a href="https://free-template.co/" target="_blank">free-template.co</a></p>
                         -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}