<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="footer-heading mb-4">About Us</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts. </p>

                    </div>
                    <div class="col-md-4 ml-auto">
                        <h2 class="footer-heading mb-4">Features</h2>
                        <ul class="list-unstyled">
                            <li><a href="templates/about.html.twig">About Us</a></li>
                            <li><a href="{{path('terms_of_use_out')}}">Terms of use</a></li>
                            <li><a href="{{path('privacy_policy_out')}}">Privacy Policy</a></li>
                            <li><a href="mailto: smartyhousenoreply@gmail.com">Contact Us</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4 ml-auto">

                <div class="mb-5">
                    {#                        <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2>#}
                    {#                        <form action="#" method="post" class="footer-suscribe-form">#}
                    {#                            <div class="input-group mb-3">#}
                    {#                                <input type="text" class="form-control rounded-0 border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">#}
                    {#                                <div class="input-group-append">#}
                    {#                                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                    </div>#}


                    <h2 class="footer-heading mb-4">Follow Us</h2>
                    <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                    </form>
                </div>
            </div>
            {#            <div class="row pt-5 mt-5 text-center">#}
            {#                <div class="col-md-12">#}
            {#                    <div class="pt-5">#}
            {#                        <p class="small">#}
            {#                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart text-danger" aria-hidden="true"></i> #}
            {#                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->#}
            {#                        </p>#}
            {#                    </div>#}
            {#                </div>#}

            {#            </div>#}
        </div>
</footer>