{% block movingPics %}
<div class="site-section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-md-7">
                <h2 class="heading-39291 mb-0">Our Projects</h2>
            </div>
            <div class="col-md-5 text-right">
                <p class="mb-0"><a href="#" class="more-39291">View All Projects</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="media-02819">
                    <a href="#" class="img-link small"><img src={{ asset('images/img_1.jpg') }} alt="Image"
                                                            class="img-fluid"></a>
                    <h3><a href="#">Downside Up House</a></h3>
                    <span>Melbourne, Australia</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="media-02819">
                    <a href="#" class="img-link"><img src={{ asset('images/img_2.jpg') }} alt="Image"
                                                      class="img-fluid"></a>
                    <h3><a href="#">Downside Up House</a></h3>
                    <span>Melbourne, Australia</span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="media-02819">
                    <a href="#" class="img-link"><img src={{ asset('images/img_3.jpg') }} alt="Image"
                                                      class="img-fluid"></a>
                    <h3><a href="#">Downside Up House</a></h3>
                    <span>Melbourne, Australia</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="media-02819">
                    <a href="#" class="img-link small"><img src={{ asset('images/img_4.jpg') }} alt="Image"
                                                            class="img-fluid"></a>
                    <h3><a href="#">Downside Up House</a></h3>
                    <span>Melbourne, Australia</span>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}