{% block quotes %}
<div class="site-section section-4">
    <div class="container">

        <div class="row justify-content-center text-center">
            <div class="col-md-7">
                <div class="slide-one-item owl-carousel" style="padding-bottom: 10px">
                    <blockquote class="testimonial-1">
                        <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                        <h3 style="color : rosybrown">What is a smart home?</h3>
                        <p>A smart home is a home where important features like locks, lights, thermostats, security systems, and more, get connected into one digital network with centralized control, mobile access, and built in artificial intelligence that tracks user preferences and learns to self-adjust to user routines.</p>
                        <cite><span class="text-black">vivint</span> &mdash; <span class="text-muted">vivint.SmartHome</span></cite>
                    </blockquote>

                    <blockquote class="testimonial-1">
                        <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                        <h3 style="color : rosybrown">Wave of the future</h3>
                        <p>The internet will disappear. There will be so many IP addresses, so many devices, sensors, things that you are wearing, things that you are interacting with, that you won't even sense it. It will be a part of your presence all the time. Imagine you walk into a room, and the room is dynamic. And with your permission and all of that, you are interacting with the things going on in the room. </p>
                        <cite><span class="text-black">Eric Schmidt</span> &mdash; <span class="text-muted">Google chairman, on a <a href="https://www.businessinsider.com/google-chief-eric-schmidt-the-internet-will-disappear-2015-1"> panel at the World Economic Forum</a></span></cite>
                    </blockquote>

                    <blockquote class="testimonial-1">
                        <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                        <h3 style="color : rosybrown">Major impact</h3>

                        <p>Smart homes and other connected products won't just be aimed at home life. They'll also hav a major impact on business. And just like any company that blissfully ignored the internet ay the turn of the century, the ones that dismiss the internet of Things risk getting left behind.   </p>
                        <cite><span class="text-black">Jared Newman</span> &mdash; <span class="text-muted"><a href="https://www.fastcompany.com/3044375/the-future-of-the-internet-of-things-is-like-the-internet-of-the-1990s"> writing in Fast Company</a></span></cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}