{% block sideNote %}
<div class="site-section">
    <div class="container">
        <div class="row  mb-5">
            <div class="col-md-7">
                <h2 class="heading-39291 text-right" style="color : rosybrown">What about the Smart Home</h2>
                <p class="text-right">Check out this stories we brought for you</p>

            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="post-entry-1 h-100">

                    <div class="post-entry-1-contents">
                        <span class="meta">August 2, 2012, 9:15 AM</span>
                        <h2><a href="#">I've been living in a smart home for 2 years - and i probably will for the rest of my life</a></h2>
                        <button class="btn btn-info text-center" onclick=" location.href= href='https://www.google.com/amp/s/www.businessinsider.com/smart-home-devices-are-worth-it-2018-8%3famp';">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="post-entry-1 h-100">

                    <div class="post-entry-1-contents">
                        <span class="meta">Septermber 07, 2017</span>
                        <h2><a href="#">4 Powerful Stories of How Smart Homes Are Helping People <br><br> <br></a></h2>
                        <button class="btn btn-info text-center" onclick=" location.href= 'https://www.vivint.com/resources/article/4-stories-smart-homes-helping-people';">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="post-entry-1 h-100">

                    <div class="post-entry-1-contents">
                        <span class="meta">May 08, 2018</span>
                        <h2><a href="#">The True Benefits of the Smart Home<br><br><br><br></a></h2>
                        <button class="btn btn-info text-center" onclick=" location.href= href='https://www.iotevolutionworld.com/smart-home/articles/438066-true-benefits-the-smart-home.htm';" >Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="post-entry-1 h-100">

                    <div class="post-entry-1-contents">
                        <span class="meta">January 02, 2019</span>
                        <h2><a href="#">How Smart Homes Impact Our Lives - Josh Wardini<br><br><br></a></h2>
                        <button class="btn btn-info text-center" onclick=" location.href= href='https://www.google.com/amp/s/wwww.bbntimes.com/technology/how-smart-homes-impact-our-lives/amp';">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}