{% block  slidingPics %}
    <div class="site-section">
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-lg-4">
                    <div class="h-100 bg-white box-29291">
                        <h2 class="heading-39291" style="color: rosybrown">Welcome To <br> Smarty House</h2>
                        <p>Home automation is a network of hardware, communication, and electronic interfaces that work
                            to integrate everyday devices with another via the internet. Each device has sensors and is
                            connected through WiFi, so you can manage them from our site <i>Smarty House</i> whether
                            you're at home or miles away.</p>
                        <p>We, Smarty House Team, are always aiming for the best to ensure you safety. Smarty
                            houses are well equipped by cameras and alarms that you can check any time and any
                            where. Our devoted team is well trained and ready for your service and your feedback </p>

                        <p class="mt-5">
                            <span class="d-block font-weight-bold text-black">Smarty House</span>
                            <span class="d-block font-weight-bold text-muted">The Dream Team</span>

                            {#                            <img src={{ asset('images/signature.svg') }} alt="Image" class="img-fluid" width="140">#}
                        </p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="owl-carousel owl-3">
                        <img src={{ asset('images/about_1.jpg') }} alt="Image" class="img-fluid">
                        <img src={{ asset('images/about_2.jpg') }} alt="Image" class="img-fluid">
                        <img src={{ asset('images/about_3.jpg') }} alt="Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}