{% block textAndImage %}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="heading-39291">Company Story</h2>
                    <p class="mb-5">Dreaming about a new era, a new future, a new world where everything gets done
                        easily and in a less amount of time. So here we go that's how our dream was born ! </p>
                    <p> Impossible is the only word that cannot describe our devotion and determination to make this
                        dream come true
                        We started developing this technology, it was difficult but so worthy to get to this final
                        products. </p>
                    <p>With love and honer, we are so pleased to offer you our ultimate and complete set of services in
                        order to make life easier for you </p>
                    <p>Huge thanks to everyone who has contributed in the creation of this brainchild project. </p>
                    <p> You <i>WILL SURELY ENJOY</i> every corner of this site and it will be your virtual sweet home.</p>
                </div>

                <div class="col-md-6 ml-auto">
                    <img src="{{ asset('images/about_1.jpg') }}" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
{% endblock %}