{% include 'templates/base.html.twig' %}
{% block title  %}Heloo{% endblock %}
{% block body %}
<h1>HI I AM THE BODY </h1>
{% endblock %}
{% block stylesheet %}{% endblock %}
{% block script %}{% endblock %}